/Data/Checking.xlsx
/Data/havi_bérpótlékok_202404.xls
/Data/monthly_supplements_202403.xlsx
/Data/monthly_supplements_202404.xlsx
/Data/Munkaidő adatexport_2024.04.10_13.27.38.csv
/Data/Munkaidő adatexport_2024.05.02_12.02.04.csv
/Data/Munkaidő adatexport_2024.05.07_11.51.44.csv
/Data/nbkifiz20210301.xls
/dist/
/build/
